# Dependencies
node_modules/
dist/
build/
__pycache__/
*.log

# Environment files
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.iml

# OS
Thumbs.db
.DS_Store

# Flutter
.flutter-plugins-dependencies
.dart_tool/
